:root {
    --vermelho: #E50914;
    --preto: #141414;
}

body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    height: 50px;
}

.profile-pic img {
    border-radius: 20%;
    overflow: hidden;
    height: 50px;
}

header nav a {
    display: inline;
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    right: 300px;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */

.filme-principal {
    font-size: 16px;
    background-image: url('img/tdp.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 20px;
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
    margin-top: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 10px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filmes {
    width: 100%;
    height: 100%;
    display: block;
}

.filmes {
    margin-top: 5px;
}

.item {
    width: 95%;
}